<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Все книги</title>
    <link rel="stylesheet" type="text/css" href="/static/style/styles.css">
</head>
<body>
<h1>Список книг</h1>
<div>
    {% for book in books %}
    <div class="book-card">
        <img src="/static/images/{{ book.id }}.webp" alt="Фото книги">
        <div class="details">
            <h2>ID: {{ book.id }}</h2>
            <p>{{ book.name }}</p>
        </div>
        <a href="/pages/books/{{ book.id }}">Подробнее</a>
    </div>
    {% endfor %}
</div>
<div class="book-card">
    <a href="/pages/books/new">Добавить книгу</a>
</div>
</body>
</html>
