<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Информация о книге</title>
    <link rel="stylesheet" type="text/css" href="/static/style/book.css">
    <style>
        input {
            padding: 8px 8px;
            margin: 4px 2px;
        }
    </style>
</head>
<body>
<div class="container">
    <h1>Информация о книге</h1>
    <div class="book-profile">
        <img src="/static/images/{{ book.id }}.webp" alt="Фото книги">
        <form>
            <h3>ID: {{ book.id }}</h3>
            <label for="book_name">Название</label><br>
            <input id="book_name" value={{ book.name }}><br>
            <label for="book_author">Автор</label><br>
            <input id="book_author" value={{ book.author }}><br>
            <label for="book_genres">Жанры</label><br>
            <input id="book_genres" value={{ book.genres|join(', ') }}><br>
            <label>Рейтинг: {{ book.rating }}</label><br>
        </form>

    </div>
    <div class="book-profile">
        <form action="/books/upload_image?id={{ book.id }}" method="post" enctype="multipart/form-data">
            <input class="back-link" type="submit" value="Загрузить картинку">
            <input type="file" name="file" required>
        </form>
    </div>
    {% if book.reviews %}
    <h1>Отзывы:</h1>
    {% else %}
    <h1>Нет отзывов</h1>
    {% endif %}
    {% for review in book.reviews %}
    <div class="review" id="review-1">
        <p><strong>Пользователь:</strong> <span class="username">{{ review.user_id}} </span></p>
        <p><strong>Рейтинг:</strong> <span class="rating">{{ review.rating }}</span></p>
        <p><strong>Содержание:</strong></p>
        <blockquote class="review-content">
            {{ review.content }}
        </blockquote>
        <hr>
    </div>
    {% endfor %}
    <div>
        <a href="/pages/books" class="back-link">Вернуться к списку книг</a>
        <a id="updateBookBtn" class="back-link">Изменить</a>
        <a id="deleteBookBtn" class="delete-link">Удалить</a>
    </div>
</div>
<script>
    async function editBook() {
        try {

            const response = await fetch("/books", {
                method: "PUT",
                headers: {"Accept": "application/json", "Content-Type": "application/json"},
                body: JSON.stringify({
                    id: "{{ book.id }}",
                    name: document.getElementById("book_name").value,
                    author: document.getElementById("book_author").value,
                    genres: document.getElementById("book_genres").value,
                })
            });
            if (response.ok === true) {
                alert("Успешно")
                window.location.reload();
            } else {
                alert("Ошибка")
            }
        } catch (err) {
            alert(err)
        }
    }

    async function deleteBook() {
        try {
            const response = await fetch("/books/{{ book.id }}", {
                method: "DELETE",
                headers: {"Accept": "application/json", "Content-Type": "application/json"},
            });
            if (response.ok === true) {
                alert("Успешно")
                window.location.replace("/pages/books");
            } else {
                alert("Ошибка")
            }
        } catch (err) {
            alert(err)
        }
    }

    document.getElementById("deleteBookBtn").addEventListener("click", async () => {
        await deleteBook();
    });

    document.getElementById("updateBookBtn").addEventListener("click", async () => {
        await editBook();
    });

</script>
</body>
</html>
